<table class="table">
    <thead>
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Age</td>
        <td>Role</td>
        <td>IsActivated</td>
        <td>LoginDate</td>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.role.name }} ({{ user.role.id }})</td>
            <td>
                {% if user.isActivated %}
                    <i class="bi-check-lg"></i>
                {% else %}
                    <span class="bi-x-lg"></span>
                {% endif %}
            </td>
            <td>{{ user.loginDate.format('Y-m-d') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>